p {
  font-size: 12px;
  display: inline-block;
}

.slider-width {
  padding-left:10px;
  width: 100%;
}
.slider-horizontal {
  width:100%;
}

#-app-content {
    align: center ;
    padding: 50px;
}
.full-width{
   width:100%;
}

.btn_custom{
   background-color:rgb(52, 73, 94);
   margin: 10px;
   text-align: center;
   color: white;
   padding-left: 10px;
   padding-bottom: 7px ;
   padding-top: 7px;
   padding-right: 10px;
   border-radius: 8px;
   border-color: #34495e;
}
.btn_custom:hover {
  background:#78e08f;
  color: #34495e;
}
.center_obj{
  text-align: center;
}

.slider-handle {
  background:#34495e;
}

.irs--round .irs-from, .irs--round .irs-to, .irs--round .irs-singl {
  background-color: #34495e;
}
.irs--round .irs-handle {
  border: 4px solid #34495e;
}
.irs--round .irs-bar {
  background-color: #34495e;
}

.irs--round .irs-from:before, .irs--round .irs-to:before, .irs--round .irs-single:before {
  border-top-color: #34495e;
}
.irs--round .irs-single {
  background-color: #34495e;
}

.zoom {
    /* background-color: green; */
    transition: transform .5s; /* Animation */
    width: auto;
    height: 22em;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.img-container {
    overflow: auto;
    display: inline-block;
    position: relative;
    width:39%;
    margin-left: 10%
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container:hover .image {
  display: inline-block;
  opacity: 0.3;
  width:inherit;
}

.img-container:hover .middle {
  opacity: 1;
}

.img-container #precip {
  position: absolute;
}

.img-container #historic {
  position: absolute;
}

.text {
  background-color: #00107a;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.loader {
  position: absolute;
  left:37.5%;
  top:15%;
  display:none;
  color: #000000;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  z-index: 10;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* Customize the label (the container) */
.container {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: -2px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #aaa;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #34495e;
}

/* When the checkbox is checked, add a blue background */
.container:hover input:checked ~ .checkmark {
  background-color: #78e08f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.container:hover .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #34495e;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.layer-header {
  background: #686868;
  margin-bottom: 3%;
  margin-top: 3%;
}

.layer-header:hover {
  background: #a5a5a5;
}

.layer-header p {
  color: #fff;
  margin-left: 5px;
  font-size: 12px;
  /* align: right; */
  /*float:right;*/
}

.layer-header img {
  margin: 2px;
  width: 10%;
  color: #fff;
}

.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }

.nav_item {
    padding:10px;
    color: white;
    font-weight:700;
    border-right: 1px solid gray;
    margin-right:10px;
    max-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.nav_item:hover {
  color: #78e08f;
  text-decoration: none
}


.banner-container {
    background: url("https://servir.adpc.net/themes/svmk/images/optimized/satellite-inside.png");
    background-position: 110% 70%;
    background-repeat: no-repeat;
    background-size: 800px auto;
	background-color: white;
    position: fixed;
    width:100%;
    z-index:100;
    height: 65px;
}

.menu-container {
	/*background-color: black !important;*/
	background-color: #333333 !important;
}

.banner {
    /*height: 50px;*/
    margin: 10px;
    /*float: left;*/
    background: no-repeat fixed center;
}

.usaid {
    background-size: auto 50px;
    width: 160px !important;
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;

}

@media (max-width: 1024px) {
	.usaid {
    	margin: auto;
	}
}

.nasa {
    background-size: auto 50px;
    width: 60px !important;
    float: left;
    margin-right: 5px;
    margin-bottom: 15px;
}

@media (max-width: 1024px) {
	.nasa {
    	margin: auto;
	}
}

.adpc {
    background-size: auto 50px;
    width: 90px !important;
    float: left;
}

@media (max-width: 1024px) {
	.adpc {
    	margin: auto;
	}
}

.servir {
    float: right;
    background-size: auto 35px;
    width: 250px !important;
    padding-top: 10px;
}

@media (max-width: 1024px) {
	.servir {
    	margin: auto;
    	/*float: none;*/
	}
}
#app-content-wrapper #app-content #app-navigation {
    position: absolute;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background: #efefef;
    padding: 0 15px;
    padding-top: 115px;
}

#app-content-wrapper #app-content {
    position: relative;
    width: 100%;
    padding-top: 115px;
    padding-bottom: 50px;
    min-height: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    visibility: hidden;
    opacity: 0;
}
