#inner-app-content {
    padding: 0;
    overflow: hidden;
}

#app-content, #inner-app-content, #map {
    height: 100%;
    width: 100%;
}

/***************************/
/* Application Page Legend */
/***************************/

#app-content #inner-app-content .legend {
  display: block;
  position: absolute;
  left: 20px;
  bottom: 70px;
  width: 150px;
  margin-top: 0px;
  padding: 6px 6px 1px 6px;
  background-color: white;
  border-radius: 2px;
  box-shadow: 0px 0px 5px gray;
  z-index: 1000;
}

#app-content #inner-app-content .legend-text {
  font-weight: bold;
  margin-left: 3px;
  margin-bottom: 5px;
}

#app-content #inner-app-content .legend-info-button {
  position: absolute;
  margin-left: 62px;
  display: inline-block;
}

#app-content #inner-app-content .legend-tabs {
  overflow: hidden;
  background-color: #ffffff;
  padding-bottom: 8px;
}

#app-content #inner-app-content .legend-tabs  button{
  background-color: inherit;
  border: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  cursor: pointer;
  padding: 10px 16px;
  margin-right: -3px;
  transition: 0.3s;
  font-size: 12px;
}

#app-content #inner-app-content .legend-tabs button.active {
  border: 1px solid #ccc;
  border-bottom: none;
  font-weight: bold;
}

#app-content #inner-app-content .legend-tab-content {
  display: none;
  padding: 0px 6px;
}

#app-content #inner-app-content .legend-value {
  font-size: 12px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#app-content #inner-app-content .legend-block {
  min-width: 40px;
  height: 20px;
  margin-right: 10px;
  border: #bbb solid 1px;
  background-color: #D3D3D3;
}

#app-content #inner-app-content .legend .legend-cb {
  width: 55%;
  /* height:100px; */
  margin-left:25px;
  margin-right:25px;
}

.toggle-nav{
    opacity:1.0;
}

.toggle-nav:hover {
    background: #78e08f;
}

#app-header .tethys-app-header #nav-title-wrapper .toggle-nav:hover div {
    background: #34495e;
}
