{% extends "tethys_apps/app_base.html" %}

{% load staticfiles %}

{% block title %}{{ tethys_app.name }}{% endblock %}


{% block app_header_override %}
          <div id="app-header" class="clearfix">
		<div class="container-fluid banner-container main-padding">
		     <div class="banner">
			 <a href="https://www.usaid.gov/" target="_blank">
			     <img class="grow img-responsive usaid" src="/static/hydraviewer/images/usaid.png" alt="USAID">
			 </a>
			<a href="https://www.nasa.gov/" target="_blank">
			     <img class="grow img-responsive nasa" src="/static/hydraviewer/images/nasa.png" alt="NASA">
			 </a>
			<a href="http://www.adpc.net/igo/?" target="_blank">
			     <img class="grow img-responsive adpc" src="/static/hydraviewer/images/adpc.png" alt="ADPC">
			 </a>
			<a href="https://servir.adpc.net/" target="_blank">
			     <img class="grow img-responsive servir" src="/static/hydraviewer/images/servir-mekong.png" alt="Servir Mekong">
			 </a>
		     </div>
		</div>
            <div class="tethys-app-header" style="margin-top:65px;background: {{ tethys_app.color|default:'#fff' }};">
              <div id="nav-title-wrapper">
                  {% block app-navigation-toggle-override %}
                    <a href="javascript:void(0);" class="toggle-nav">
                      <div></div>
                      <div></div>
                      <div></div>
                    </a>
                  {% endblock %}
                  {% block app_icon_override %}
                    <div class="icon-wrapper">
                      {% block app_icon %}
			          {# The path you provided in your app.py is accessible through the tethys_app.icon context variable #}
			          <img src="{% static tethys_app.icon %}">
			        {% endblock %}
                    </div>
                  {% endblock %}
                  {% block app_title_override %}
                    <div class="app-title-wrapper">
                      <span class="app-title">{% block app_title %}{{ tethys_app.name }} <p style="color:white; font-size: 16px;"><i>(Beta version)</i></p>{% endblock %}</span>
                    </div>
                  {% endblock %}
              </div>

              {% block header_buttons_override %}
              <div id="header-buttons-wrapper">
                  {% block header_buttons %}
		              {% url 'hydraviewer:home' as home_url %}
		              {% url 'hydraviewer:mapviewer' as map_url %}
		              {% url 'hydraviewer:usecases' as use_url %}
		              <a class="nav_item grow" href="{{ home_url }}">Home&emsp;</a>
		              <a class="nav_item grow" href="{{ map_url }}">Map Viewer&emsp;</a>
		              <a class="nav_item grow" href="{{ use_url }}">Use Cases&emsp;</a>
		              <div class="header-button glyphicon-button" data-toggle="tooltip" data-placement="bottom" title="Help">
		                <a data-toggle="modal" data-target="#help-modal"><span class="glyphicon glyphicon-question-sign"></span></a>
		              </div>
		          {% endblock %}
                  {% block settings_button_override %}
                      {% if request.user.is_staff %}
                      <div class="header-button settings-button">
                        <a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('/admin/tethys_apps/tethysapp/{{ tethys_app.id }}/change/');" data-toggle="tooltip" data-placement="bottom" title="Settings"><span class="glyphicon glyphicon-cog"></span></a>
                      </div>
                      {%  endif %}
                  {% endblock %}
                  {% block exit_button_override %}
                    <div class="header-button exit-button">
                      <a href="javascript:void(0);" onclick="TETHYS_APP_BASE.exit_app('{% url 'app_library' %}');"data-toggle="tooltip" data-placement="bottom" title="Exit">&times;</a>
                    </div>
                  {% endblock %}
              </div>
              {% endblock %}
            </div>
          </div>
        {% endblock %}


{% block after_app_content %}
<!-- Help Modal -->
    <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h5 class="modal-title" id="help-modal-label">Help Modal</h5>
                </div>
                <div class="modal-body">
                    <h1>Disclaimer:</h1>
                    <p>This application is currently in Beta. It is not to be used for any operational purpose.The SERVIR Project, NASA, and USAID, make no express or implied warranty of this application and associated data as to the merchantability or fitness for a particular purpose. Neither the US Government nor its contractors shall be liable for special, consequential or incidental damages attributed to this application and associated data.</p>
                    <p><a href="https://servirglobal.net/Privacy-Terms-of-Use" target="_blank">Privacy and Terms of Use</a></p>
                </div>
                <div class="modal-footer">
                    <div align="center" id="logos">
                        <div class="logo-image"><a href="http://www.usaid.gov/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/usaid.png"></a></div>
                        <div class="logo-image"><a href="http://appliedsciences.nasa.gov/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/nasa.png"></a></div>
                        <div class="logo-image"><a href="http://www.cilss.bf/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/cilss.png"></a></div>
                        <div class="logo-image"><a href="http://www.rcmrd.org/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/rcmrd.png"></a></div>
                        <div class="logo-image"><a href="http://www.icimod.org/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/icimod.png"></a></div>
                        <div class="logo-image"><a href="http://www.adpc.net/" target="_blank"><img src="https://servirglobal.net/Portals/_default/Skins/Servir2015/img/adpc.png"></a></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block content_dependent_styles %}
  {{ block.super }}
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link href="{% static 'hydraviewer/css/main.css' %}" rel="stylesheet"/>
{% endblock %}

{% block scripts %}
  {{ block.super }}
  <script src="{% static 'hydraviewer/js/main.js' %}" type="text/javascript"></script>
{% endblock %}
