name: docs
on:
    release:
    types: [created]
    
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.6
      - run: pip install mkdocs-material mkdocstrings hydrafloods
      - run: mkdocs gh-deploy --force